<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- Introduce pageHelper plugin -->
<!--Note that it should be written as PageInterceptor here. Versions before 5.0 are written as PageHelper. After 5.0, it should be replaced with PageInterceptor-->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--Paging parameter rationalization -->
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>
</configuration>