<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- Configuration integration mybatis process -->
	<!-- 1. Configure the attributes of the database-related parameter properties: ${url} -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- 2. Database connection pool -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- Configure connection pool properties -->
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />

		<!-- Private property of c3p0 connection pool -->
		<property name="maxPoolSize" value="30" />
		<property name="minPoolSize" value="10" />
		<!-- Do not automatically commit after closing the connection -->
		<property name="autoCommitOnClose" value="false" />
		<!-- Get connection timeout -->
		<property name="checkoutTimeout" value="10000" />
		<!-- The number of retries when the connection fails -->
		<property name="acquireRetryAttempts" value="2" />
	</bean>

	<!-- 3. Configure the SqlSessionFactory object -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- Inject database connection pool -->
		<property name="dataSource" ref="dataSource" />
		<!--Configure PageHelper-->
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageInterceptor">
					<property name="properties">
						<value>
							offsetAsPageNum=true
							reasonable=true
							rowBoundsWithCount=true
							pageSizeZero=true
						</value>
					</property>
				</bean>
			</array>
		</property>
		<!-- Configure MyBaties global configuration file: mybatis-config.xml
		<property name="configLocation" value="classpath:mybatis-config.xml" />

		  Scan entity packages using aliases
		<property name="typeAliasesPackage" value="com.hbu.entity" /> -->

		<!-- Scan sql configuration file: xml file required by mapper -->
		<property name="mapperLocations" value="classpath:mapper/*.xml" />
	</bean>

	<!-- 4. Configure and scan the Dao interface package, dynamically implement the Dao interface, and inject it into the spring container -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- Inject sqlSessionFactory -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<!-- Give the Dao interface package that needs to be scanned -->
		<property name="basePackage" value="com.hbu.dao" />
	</bean>
</beans>